.inline{
    display:table;
    padding-right: 0.2em;
}

#resources{
    padding-bottom: 0.5em;
}

button{
    width: 12em;
}

.table{
    display:table;
}

.tr{
    display:table-row;
}

.td{
    display:table-cell;
    padding-right: 0.2em;
}

.stats{
    width: 13em;
}
