#masterLayout{
    height:88%;
}

button{
    width: 11em;
}

.table{
    display:table;
    padding-bottom: 0.5em;
}

.tr{
    display:table-row;
}

.td{
    display:table-cell;
    padding-right: 0.2em;
}

.stats{
    width: 12em;
}

.inline{
    display:inline-block;
}

.scrollOverflow{
    overflow-x: scroll;
}